<!--
This template loads for the 'tab.friend-detail' state (app.js)
'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
The FriendsCtrl pulls data from the Friends service (service.js)
The Friends service returns an array of friend data
-->
<ion-view hide-nav-bar="true">
	<ion-content class="padding text-center">
		<div class="login-content">
			<img src="img/dropbox-logo-placeholder.png" alt="">
			<a href="#/tab/search" class="button button-full button-positive" >Entrar com Facebook</a>
			<p>Ainda não fez tal coisa? <a href="#">Clique aqui</a> para tentar.
		</div>
	</ion-content>
</ion-view>
