<div class="list">
	<label class="item item-radio">
		<input type="radio" name="group" ng-model="datapopup.gender" value="Masculino">
		<div class="item-content">
			Masculino
		</div>
		<i class="radio-icon ion-checkmark"></i>
	</label>
	<label class="item item-radio">
		<input type="radio" name="group" ng-model="datapopup.gender" value="Feminino">
		<div class="item-content">
			Feminino
		</div>
		<i class="radio-icon ion-checkmark"></i>
	</label>
	<label class="item item-radio">
		<input type="radio" name="group" ng-model="datapopup.gender" value="Masculino e Feminino">
		<div class="item-content">
			Masc. e Fem.
		</div>
		<i class="radio-icon ion-checkmark"></i>
	</label>
</div>