<ion-popover-view style="height: 180px;">
	<!-- <ion-header-bar>
		<h1 class="title">My Popover Title</h1>
	</ion-header-bar> -->
	<ion-content>
		<ion-list>
			<ion-item class="item-avatar">
				<img src="img/me/profile.jpg">
				<h2>{{me.name}}</h2>
				<p>{{me.username}}</p>
			</ion-item>
			<ion-item href="#/tab/my-settings" ng-click="closePopover()">
				Minhas Preferências
			</ion-item>
			<ion-item href="#/login" ng-click="closePopover()">
				Sair
			</ion-item>
		</ion-list>
	</ion-content>
</ion-popover-view>