<ion-view view-title="Teste distanciaaa">
	<ion-content>
		<div class="padding">

		Download progress: {{downloadProgress | json}}

		<!-- {{ me | json}} -->
<!-- 			<h3>Teste distancia</h3>
			<h5>Lat: {{lat}}</h5>
			<h5>Lng: {{lng}}</h5>
			<h5>Fidelidade: {{accuracy}}</h5>
		</div>
		<button
			class="button button-royal button-full"
			ng-click="getPosition()">
			Recalcular
		</button>

		<button class="button button-royal button-full" ng-click="getDistanceBetween()">Carcular distancia para Profile {{user_param.id}}</button> -->
	</ion-content>
</ion-view>