<!--
This template loads for the 'tab.friend-detail' state (app.js)
'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
The FriendsCtrl pulls data from the Friends service (service.js)
The Friends service returns an array of friend data
-->

<ion-view hide-nav-bar="true" cache-view="false">
	<ion-content class="padding text-center">
		<p>Platform: {{ platform | json }}</p>
		<p>Device: {{ device | json }}</p>
		<div class="login-content">
			<img src="static/img/dropbox-logo-placeholder.png" alt="">
			<form name="myForm" ng-submit="doLogin(loginData.account_id)">
				<div class="list">
					<label class="item item-input">
						<span class="input-label">Account id</span>
						<input type="text" ng-model="loginData.account_id" required>
					</label>
					<label class="item">
						<button class="button button-block button-positive" type="submit"  ng-disabled="myForm.$invalid">
							Log in
						</button>
					</label>
				</div>
			</form>

			<button class="button button-royal button-full" ng-click="logarFacebook()">Logar com Facebook</button>
<!-- 			<p>Facebook result: {{facebookResult | json}}</p> -->

			<div ng-show="errorMessage" style="padding: 10px; background-color: #e74c3c; color: #FFF;">
				{{errorMessage}}
			</div>

		</div>
	</ion-content>
</ion-view>
